.home {
    border: 30px solid #f1f1f1;
    border-radius: 15px;
    padding: 30px;
}

.add-order-button{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: blueviolet;
    color: yellow;
}